<html>	
	<head>	
		<title>注册</title>
	</head>
	<body>
		<form action="index.php?class=user&method=handlereg" method="post">
			邮箱: <input type="text" name="emial"><br />
			密码: <input type="text" name="password"><br />
			性别： 男<input type="radio" name="sex" value="1"> 
					女<input type="radio" name="sex" value="2"> <br />
			用户名: <input type="text" name="username"><br />
			家乡: <input type="text" name="address"><br />
			学校: <input type="text" name="school"><br />
			身份证号: <input type="text" name="idcard"><br />
			<input type="submit" name="sub" value="注册">
		</form>
	</body>
</html>