<!DOCTYPE HTML>
<html>
<head>
	<title>小米官网</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="./public/home/css/xiaomi.css">	
	<script language="JavaScript" src="./public/home/js/jquery2.1.4.min.js"></script>
</head>
<body>
	<div class="top">
	   	<div class="center_box">
		   	<div class="top left">
		   		<?php foreach($list as $key => $value){ ?>
				<a href="<?php echo $value['link']?>" target="_blank"><?php echo $value['name']?></a><span>|</span>
				<?php }?>
		   	</div>
		   	<div class="top right">
		   		<div class="buy">
		   		   <a href="">购物车<span>(0)</span></a>
		   		   <div class="buy_car"></div>
		   	    </div>
		   	    <div class="userinfo">
			   	    <a href="">登录</a><span>|</span>
			   		<a href="">注册</a>
		   		</div>
		   	</div>	
	   	</div>
   </div>
   <div class="nav">
	   <div class="center_box clearfix">
		   <div class="logo"><img src="./public/home/images/1.png"></div>
		   <div class="first"><img src="./public/home/images/1.gif"></div>
		   <div class="nav_center">
			   <ul class="nav_list clearfix">
				    <li>
				    	<a href="">小米手机</a>
				    	<div class="list_children">
						    <div class="center_box">
						    	<ul class="children_nav clearfix">
							    	<li>
								    	<img src="./public/home/images/h1.jpg">
								    	<a href="">小米手机5</a>
								    	<p class="price">1999元起</p>
							    	</li>
							    	<li>
							    		<img src="./public/home/images/h2.jpg">
								    	<a href="">小米手机5</a>
								    	<p class="price">1999元起</p>
							    	</li>
							    	<li>
							    		<img src="./public/home/images/h3.jpg">
								    	<a href="">小米手机5</a>
								    	<p class="price">1999元起</p>
							    	</li>
							    	<li>
							    		<img src="./public/home/images/h4.jpg">
								    	<a href="">小米手机5</a>
								    	<p class="price">1999元起</p>
							    	</li>
						    	</ul>
						    </div>
					   </div>
				    </li>
				    <li>
					   <a href="">红米</a>
					   <div class="list_children">
							    <div class="center_box">
							    	<ul class="children_nav clearfix">
								    	<li>
									    	<img src="./public/home/images/e1.jpg">
									    	<a href="">小米手机5</a>
									    	<p class="price">1999元起</p>
								    	</li>
								    	<li>
								    		<img src="./public/home/images/e2.jpg">
									    	<a href="">小米手机5</a>
									    	<p class="price">1999元起</p>
								    	</li>
								    	
							    	</ul>
							    </div>
						   </div>
				    </li>
				    <li>
					   <a href="">平板</a>
					   <div class="list_children">
							    <div class="center_box">
							    	<ul class="children_nav clearfix">
								    	<li>
									    	<img src="./public/home/images/f0.jpg">
									    	<a href="">小米平板2 16GB</a>
									    	<p class="price">999元起</p>
								    	</li>
								    	<li>
								    		<img src="./public/home/images/f1.jpg">
									    	<a href="">小米平板2 64GB</a>
									    	<p class="price">1299元起</p>
								    	</li>
								    	<li>
								    		<img src="./public/home/images/f2.jpg">
									    	<a href="">小米平板2  64GB Windows版</a>
									    	<p class="price">1299元起</p>
								    	</li>
							    	</ul>
							    </div>
						   </div>
				   </li>
				   <li>
					   <a href="">电视</a>
					   <div class="list_children">
							    <div class="center_box">
							    	<ul class="children_nav clearfix">
								    	<li>
									    	<img src="./public/home/images/f0.jpg">
									    	<a href="">小米平板2 16GB</a>
									    	<p class="price">999元起</p>
								    	</li>
								    	<li>
								    		<img src="./public/home/images/f1.jpg">
									    	<a href="">小米平板2 64GB</a>
									    	<p class="price">1299元起</p>
								    	</li>
								    	<li>
								    		<img src="./public/home/images/f2.jpg">
									    	<a href="">小米平板2  64GB Windows版</a>
									    	<p class="price">1299元起</p>
								    	</li>
							    	</ul>
							    </div>
						   </div>
				   </li>
				   <li><a href="">盒子</a></li>
				   <li><a href="">路由器</a></li>
				   <li><a href="">智能硬件</a></li>
				   <li><a href="">服务</a></li>
				   <li><a href="">社区</a></li>
			   </ul>
		   </div>
		   <div class="nav_right">
			   <form>	
			   	   	<input type="text" class="input_text">
			   	    <span class="hot">
				   	   <a href="">小米手机4c</a>
				   	   <a href="">平衡车</a>
			   	    </span>
				   	<input type="button" class="button_style" >
				</form>   	
		   </div>
	   </div>
   </div>
   <div class="center_box">
	    <div class="nav_home ">
	         <ul class="nav_left_r clearfix">
	   	    	<li><img src="./public/home/images/2.jpg"></li>
	   	    	<li><img src="./public/home/images/3.jpg"></li>
	   	    	<li><img src="./public/home/images/x1.jpg"></li>
	   	    	<li><img src="./public/home/images/5.jpg"></li>
	   	    	<li><img src="./public/home/images/c1.jpg"></li>
	   	    	<a href="javascript:void(0)"class="control_button click_left"><i></i></a>
	   	    	<a href="javascript:void(0)" class="control_button click_right"></a>
	   	    </ul>
	   	    <div class="nav_home_left">
	   	    	<ul class="nav_left_l">
		   	    	<li class="nav_li">
		   	    	   <a href="" class="title">手机 平板 电话卡</a>
		   	    	   <div class="nav_left_children">
			   	    	   	<ul class="children_s1 left">
			   	    	   	 	<li>
				   	    	   	 	<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
				   	    	   	 	</a>
				   	    	   	 	<a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	 	<li>
				   	    	   	 	<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
				   	    	   	 	</a>
				   	    	   	 	<a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	 	<li>
			   	    	   	 		<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
			   	    	   	 	    </a>
			   	    	   	 	    <a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	 	<li>
			   	    	   	 		<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
			   	    	   	 	   </a>
			   	    	   	 	   <a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	</ul>
			   	    	   	<ul class="children_s1 left">
			   	    	   	 	<li>
				   	    	   	 	<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
				   	    	   	 	</a>
				   	    	   	 	<a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	 	<li>
				   	    	   	 	<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
				   	    	   	 	</a>
				   	    	   	 	<a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	 	<li>
			   	    	   	 		<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
			   	    	   	 	    </a>
			   	    	   	 	    <a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	 	<li>
			   	    	   	 		<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
			   	    	   	 	   </a>
			   	    	   	 	   <a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	</ul>			   	    	    
		   	    	   </div>
		   	    	<li class="nav_li">
			   	    	<a href="" class="title">电视 盒子</a>
			   	    	<div class="nav_left_children">
			   	    	   	<ul class="children_s1 left">
			   	    	   	 	<li>
				   	    	   	 	<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
				   	    	   	 	</a>
				   	    	   	 	<a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	 	<li>
				   	    	   	 	<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
				   	    	   	 	</a>
				   	    	   	 	<a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	 	<li>
			   	    	   	 		<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
			   	    	   	 	    </a>
			   	    	   	 	    <a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	 	
			   	    	   	</ul>
			   	    	   	<ul class="children_s1 left">
			   	    	   	 	<li>
				   	    	   	 	<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
				   	    	   	 	</a>
				   	    	   	 	<a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	 	<li>
				   	    	   	 	<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
				   	    	   	 	</a>
				   	    	   	 	<a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	 	<li>
			   	    	   	 		<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
			   	    	   	 	    </a>
			   	    	   	 	    <a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	 	<li>
			   	    	   	 		<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
			   	    	   	 	   </a>
			   	    	   	 	   <a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	</ul>			   	    	    
		   	    	   </div>
		   	    	</li>
		   	    	<li class="nav_li">
			   	    	<a href="" class="title">路由器 智能硬件</a>
			   	    	<div class="nav_left_children">
			   	    	   	<ul class="children_s1 left">
			   	    	   	 	<li>
				   	    	   	 	<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
				   	    	   	 	</a>
				   	    	   	 	<a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	 	<li>
				   	    	   	 	<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
				   	    	   	 	</a>
				   	    	   	 	<a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	 	<li>
			   	    	   	 		<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
			   	    	   	 	    </a>
			   	    	   	 	    <a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	 	
			   	    	   	</ul>
			   	    	   	<ul class="children_s1 left">
			   	    	   	 	<li>
				   	    	   	 	<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
				   	    	   	 	</a>
				   	    	   	 	<a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	 	<li>
				   	    	   	 	<a href="">
					   	    	   	 	<img src="./public/home/images/ab1.jpg">
					   	    	   	 	<span class="phone">小米手机5</span>
				   	    	   	 	</a>
				   	    	   	 	<a href="" class="choose_buy">选购</a>
			   	    	   	 	</li>
			   	    	   	 	
			   	    	   	</ul>			   	    	    
		   	    	   </div>
		   	    	</li>
		   	    	<li class="nav_li">
		   	    	    <a href=""class="title">移动电源 插线板</a>
		   	    	</li>
		   	    	<li class="nav_li">
			   	    	<a href=""class="title">耳机 音箱</a>
			   	    </li>	
		   	    	<li class="nav_li">
			   	    	<a href=""class="title">电池 存储卡</a>
		   	    	</li>
		   	    	<li class="nav_li">
			   	    	<a href=""class="title">保护套 后盖</a>
		   	    	</li>
		   	    	<li class="nav_li">
			   	    	<a href=""class="title">贴膜 其他配件</a>
		   	    	</li>
		   	    	<li class="nav_li">
			   	    	<a href=""class="title">米兔 服装</a>
		   	    	</li>
		   	    	<li class="nav_li">
			   	    	<a href=""class="title">箱包 其他周边</a>
		   	    	</li>
	   	    	</ul>
	   	    </div>
	   	    <div class="item">
		   	    <div class="item_radius"></div>
		   	    <div class="item_radius"></div>
		   	    <div class="item_radius"></div>
		   	    <div class="item_radius"></div>
		   	    <div class="item_radius"></div>
	   	    </div>	   
	   	</div>  
</div>	   	
   <div class="center_box box_list clearfix">
	   	<ul class="list">
	   		<?php foreach($lists as $key => $value){ ?>
	   			<li><a href="<?php echo $value['link']?>"><?php echo $value['name']?></a></li>
	   		<?php }?>
	   	</ul>
	   	<img src="./public/home/images/6.jpg">
	   	<img src="./public/home/images/7.jpg">
	    <img src="./public/home/images/8.jpg">
    </div>
    <div class="center_box">
	    <div class="single_title">
	        <h2 class="title">小米明星单品</h2>
		    <div class="control">
		        <button class="control_left" disabled='disabed'><</button><button class="control_right">></button>
	        </div>
	    </div>
	    <div class="single_list">
	        <ul class="list_nav clearfix">
		        <li class="s1">
		            <a href="">
			            <img src="./public/home/images/a1.jpg">			            
		            </a>
                    <h3>高性能手机</h3>
		            <p>年轻人的酷炫手机</p>
		            <span>1999元</span>		       
		        </li>
		        <li class="s2">
		            <a href=""><img src="./public/home/images/a2.jpg"></a>
		        </li>
		        <li class="s3">
		            <a href=""><img src="./public/home/images/a3.jpg"></a>
		        </li>
		        <li class="s4">
		        <a href=""><img src="./public/home/images/a4.jpg"><p></p></a>		        
		        </li>
		        <li class="s5"><a href=""><img src="./public/home/images/a5.jpg"></a></li>
		        <li class="s5" ><a href=""><img src="./public/home/images/b1.jpg"></a></li>
		        <li class="s4"><a href=><img src="./public/home/images/b2.jpg"></a></li>
		        <li class="s3"><a href=><img src="./public/home/images/b3.jpg"></a></li>
		        <li class="s2"><a href=><img src="./public/home/images/b4.jpg"></a></li>
		        <li class="s1"><a href=><img src="./public/home/images/b5.jpg"></a></li>
	        </ul>
	    	
	    </div>       
    </div>

<script type="text/javascript">
	$(function(){
        var $list_nav=$(".nav_home ul.nav_left_r");
        var $control_left=$(".click_left");
        var $control_right=$(".click_right");
        $control_right.click(function(){
        $list_nav.stop().animate({"margin-left":"-=1227px"},100,function(){
     		var $before_three_li = $(".nav_home ul.nav_left_r li:first");
     		var $before_three_li_clone = $before_three_li.clone();
     		var $li_last = $(".nav_home ul.nav_left_r li:last");
     		$list_nav.css({"margin-left":"+=1227px"});
     		$li_last.after($before_three_li_clone);
     		$before_three_li.remove();
        })

    })
         $control_left.click(function(){
        $list_nav.stop().animate({"margin-left":"+=1227px"},100,function(){
     		var $before_li = $(".nav_home ul.nav_left_r li:last");
     		var $before_li_clone = $before_li.clone();
     		var $li_last = $(".nav_home ul.nav_left_r li:first");
     		$list_nav.css({"margin-left":"-=1227px"});
     		$li_last.before($before_li_clone);
     		$before_li.remove();
        })

    })
    var $buy_car = $(".buy");
    $buy_car.mouseover(function(){
        $(this).css({"background":"#fff"}).children(".buy_car").stop().slideDown('fast').show();
        $(".buy a").css({"color":"red"})
        $(".buy a>span").css({"color":"red"})
    })
    $buy_car.mouseout(function(){
        $(this).css({"background":"#424242"}).children(".buy_car").stop().slideUp('slow').hide();
        $(".buy a").css({"color":"#b0b0b0"});
        $(".buy a>span").css({"color":"#b0b0b0"})
    })
     var $left_control=$(".control_left"); 
     var $right_control=$(".control_right");
     $left_control.click(function(){
     	$(".list_nav").stop().animate({"margin-left":"0"})
     })  
     $right_control.click(function(){
     	$(".list_nav").stop().animate({"margin-left":"-1226px"})
     	$(this).attr('disabed',false);
     }) 
     var $nav_list = $('.nav_list li');
     $nav_list.mouseover(function(){    	
     	$(this).children('.list_children').stop().slideDown();
     	$(this).children('.list_children').children('children_nav').show();
     })
      $nav_list.mouseout(function(){    	
     	$(this).children('.list_children').stop().slideUp();
     	$(this).children('.list_children').children('children_nav').hide();
     })
     $('.nav_li').mouseover(function(){
     	$(this).children('.nav_left_children').stop().show();
     }) 
     $('.nav_li').mouseout(function(){
     	$(this).children('.nav_left_children').stop().hide();
     })            
})
</script>
</body>
</html>

