<?php include './admin/view/public/header.html';?>
<!-- *********内容************* -->
<div style="width:500px">
	<div>
		<a class="btn btn-default" href="index.php?m=admin&c=server&a=server">增加</a>
	</div>
	<div style="margin-top:10px">
		<table class="table">
	    	<tr>
	    		<td>Id</td>
	    		<td>服务名</td>
	    		<td>链接</td>
	    		<td>操作</td>
	    	</tr>
	    	<?php foreach($lists as $key=>$value){ ?>
	    	<tr>
	    		<td><?php echo $value['id'] ?></td>
	    		<td><?php echo $value['name'] ?></td>
	    		<td><?php echo $value['link'] ?></td>
	    		<td>
	    			<a href="index.php?m=admin&c=server&a=delete1&id=<?php echo $value['id'];?>">删除</a>
	    			<a href="index.php?m=admin&c=server&a=xin&id=<?php echo 
	    				$value['id'];?>&name=<?php echo $value['name']?>&link=<?php echo $value['link']?>">更新</a>
	    		</td>
	    	</tr>
	    	<?php } ?>
	    </table>
	</div> 
</div>
<!-- *********内容************* -->
<?php include "./admin/view/public/footer.html"; ?> 