<?php include "./admin/view/public/header.html"; ?>
<!-- *********内容************* -->
<div style="width:500px">
    <form class="form-horizontal" action="index.php?m=admin&c=friendlink&a=insert1" method="post">
	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">名称：</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="inputEmail3" placeholder="名称" name="name">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">链接：</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="inputPassword3" placeholder="链接" name="link">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">排序：</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="inputPassword3" placeholder="排序" name="sort">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">下架：</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="inputPassword3" placeholder="下架" name="is_del">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default">提交</button>
	    </div>
	  </div>
	</form>
</div>
<!-- *********内容************* -->
<?php include "./admin/view/public/footer.html"; ?>   